.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    border-radius: 4px;
    overflow: hidden;
    width: 180px;
}

.description {
    font-size: 0.8em;
}
.add-btn {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    font-size: 0.9em;
    border-radius: 5px;
}
.card-body {
    padding: 10px;
}